{% macro search_item(item, index) -%}

<div class="card" id=item{{index}} source="{{item[2]}}" status="None">
    <div class="card-header flex-column align-items-start p-0 " id="item{{index}}head">
        <a data-toggle="collapse" data-target="#item{{index}}collapse" class="list-group-item list-group-item-action flex-column align-items-start" id="item{{index}}headlink">

            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">{{item[0]}}</h5>
                <small class="text-muted">chiasenhac.vn</small>
            </div>
            <small class="text-muted">{{item[1]}}</small>
        </a>
    </div>

    <div id="item{{index}}collapse" class="collapse hide wrapper" aria-labelledby="item{{index}}head" search>

        <div class="card-body row d-flex justify-content-between flex-grow-1" id="item{{index}}collapsebody">    
            <!-- Hotfix for low collapse height   -->
            <span style="min-height: 35px"></span>  
            
            <div class="overlay" spinner  >
                <span id="item{{index}}spinner">
                    <div class="lds-roller ">
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                </span>
            </div>

            <div class="overlay " error id="item{{index}}error">
                <div class="d-flex flex-column ">
                    <strong id="errorSpan{{index}}"></strong>
                    <small id="errorP{{index}}"></small>
                </div>
            </div>

        </div>

    </div>
</div>

{%- endmacro %}