<!doctype html>
<html lang="en">

<head>
    {% block head %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static',filename='base.css')}}">

    <title> {% block title %} MusicUtil {% endblock title %} </title>
    {% endblock head %}
</head>

<body>
    {%block body %}


    <header>
        <div class="collapse success-color-dark" id="navbarHeader">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 col-md-7 py-4">
                        <h4 class="text-white" >About</h4>
                        <p class="text-warning" >Search and download songs</p>
                    </div>
                    <div class="col-sm-4 offset-md-1 py-4">
                        <h4 class="text-white">Links</h4>
                        <ul class="list-unstyled">
                            <li>
                                <a href="http://chiasenhac.vn/" target="_blank" class="text-white font-weight-light">Vist Source Website </a>
                            </li>
                            <li>
                                <a href="https://github.com/ashutoshvarma/musicutilweb" target="_blank" class="text-white font-weight-light">View Github</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="navbar navbar-dark default-color-dark shadow-sm">
            <div class="container d-flex justify-content-between">
                <a href="/" class="navbar-brand d-flex align-items-center">
                    <img width="20px" height="20px" src="{{ url_for('static', filename='icon.svg') }}">
                    <strong>&nbsp;MusicUtil</strong>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </div>
    </header>

    {% block content %}

    {% endblock content %} 


    {% block footer %}
   
    <footer class="footer default-color-dark">
        <!-- Copyright -->
        <div class="footer-copyright text-center  text-white d-flex justify-content-center flex-wrap">© 2018 Copyright:
            <a href="https://github.com/ashutoshvarma/" class="text-light mr-3"> Ashutosh Varma</a>
            <a  href="http://chiasenhac.vn" target="_blank" class="text-body">Visit Source Site</a>
        </div>
        <!-- Copyright -->
    </footer>

    {% endblock footer %}




     {% block script %}
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='base.js') }}"></script> 

    <script type="text/javascript">
        var csrf_token = "{{ csrf_token() }}";

        $.ajaxSetup({
            beforeSend: function (xhr, settings) {
                if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrf_token);
                }
            }
        });
    </script>
    {% endblock script %} 
    
    
    {% endblock body %}

</body>

</html>